<header>
  <div class="navbar shadow-sm">
    <div class="container">
      <div class="col">
        <img src="assets/logo.svg" style="max-width: 20%" />
      </div>
      <div class="col text-center">
        <button type="button" (click)="switchToAllContent()" class="btn my-2 align-middle" style="margin-right:20px;"
          [ngClass]="{'btn-primary' : showAllContent===true, 'btn-secondary' : showAllContent===false}">Show All</button>
        <button type="button" (click)="switchToTopContent()" class="btn my-2"
          [ngClass]="{'btn-primary' : showAllContent===false, 'btn-secondary align-middle' : showAllContent===true}">Show Top 10</button>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="d-flex justify-content-center" *ngIf="displayedContent.length === 0">
    <div class="spinner-border" role="status"></div>
  </div>

  <div class="album py-5 bg-light">
    <div class="container" *ngIf="displayedContent.length !== 0">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div *ngFor="let c of displayedContent; let i = index">
          <div class="col" (click)="imageClick(c, i)" data-bs-toggle="modal" data-bs-target="#exampleModalFullscreen">
            <div class="card shadow-sm">
              <img src={{c.previewUrl}} height="225" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModalFullscreen" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" (click)="onModalClose()" style="opacity: 1"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-1">
                <button class="carousel-control-prev" type="button" (click)="decrementActiveImage()">
                  <span class="carousel-control-prev-icon" aria-hidden="true" *ngIf="activeContentListIndex != 0"></span>
                </button>
              </div>
              <div class="col" style="height: calc(100vh - 80px)">
                <div class="container" style="height: calc(100% - 80px);">
                  <div *ngIf="activeContent.mediaType === 'VIDEO' && gettingMoreContent === false" style="height: 100%;" class="d-flex align-items-center">
                    <video controls src="{{activeContent.contentUrl}}" style="width: auto; max-height: 100%; max-width: 100%; margin: 0 auto;">
                    Your browser does not support the video tag.
                    </video> 
                  </div>
                  
                  <img src={{activeContent.contentUrl}} *ngIf="activeContent.mediaType === 'IMAGE' && gettingMoreContent === false" class="mx-auto d-block img-fluid" style="height: 100%; object-fit: contain;"/>

                  <div class="d-flex justify-content-center" *ngIf="gettingMoreContent === true">
                    <div class="spinner-border text-light" role="status"></div>
                  </div>
                </div>

                <div class="container">
                  <div>
                    <h1>One more for good measure.</h1>
                    <p>Some representative placeholder content for the third slide of this carousel.</p>
                  </div>
                </div>
              </div>
              <div class="col-1">
                <button class="carousel-control-next" type="button" (click)="incrementActiveImage()">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="text-center container loadButtonContainer">
      <div class="col-lg-6 col-md-8 mx-auto">
        <button type="button" *ngIf="showAllContent===true && gettingMoreContent == false && displayedContent.length > 0" (click)="loadMoreContent()"
          class="btn my-2 btn-secondary">

          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
            class="bi bi-arrow-counterclockwise" viewBox="0 0 18 18">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"></path>
            <path
              d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z">
            </path>
          </svg>
          Load More Content
        </button>
        <div class="d-flex justify-content-center" *ngIf="gettingMoreContent === true">
          <div class="spinner-border" role="status"></div>
        </div>
      </div>
    </section>
  </div>

</main>

<router-outlet></router-outlet>