.navbar {
  background-color: #173084 !important;
}

.logo {
  max-width: 20%;
}

.allContentButton {
  margin-right:20px;
}

.btn-primary {
  background-color: #FFC906;
  color: #CC1E4A;
}

.outer-modal {
  display: none;
}

.close-modal-btn {
  opacity: 1;
}

.modal-outer-container {
  height: calc(100vh - 80px)
}

.loadButtonContainer {
  padding-top: 3em;
}

.modal-header {
  border-bottom: 0;
}

.modal-content {
  background-color: rgba(33, 37, 41, 0.9);
}

.modal-content-container {
  height: calc(100% - 86px);
}

.modal-video-container {
  height: 100%;
}

.modal-video {
  width: auto;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.modal-img {
  height: 100%;
  object-fit: contain;
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1;
}

.votes-container {
  padding-top: 20px;
  padding-bottom: 4px;
}

.upvote-btn {
  color: green;
}

.votes-num {
  color: white;
}

.votes-loading {
  padding-top: 14px;
}

.downvote-btn {
  color: red;
}