.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.main-logo {
    scale:80%
}

.navbar {
    background-color: #173084 !important;
}

.header-title {
    color: #FDC300
}

.loadButtonContainer {
    padding-top: 3em;
}

.loadSvg {
    color: white;
    height: 100%;
}