<header>
  <div class="navbar shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="assets/logo.svg" class="main-logo" />
        <strong class="header-title">Content Browser</strong>
      </a>
    </div>
  </div>
</header>

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
          etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <button type="button" (click)="switchToAllContent()" class="btn my-2"
            [ngClass]="{'btn-primary' : showAllContent===true, 'btn-secondary' : showAllContent===false}">Show All
            Content</button>
          <button type="button" (click)="switchToTopContent()" class="btn my-2"
            [ngClass]="{'btn-primary' : showAllContent===false, 'btn-secondary' : showAllContent===true}">Show Top 10
            Content</button>
        </p>
      </div>
    </div>
  </section>

  <div class="d-flex justify-content-center" *ngIf="displayedContent.length === 0">
    <div class="spinner-border" role="status"></div>
  </div>

  <div class="album py-5 bg-light">
    <div class="container" *ngIf="displayedContent.length !== 0">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div *ngFor="let c of displayedContent">
          <div class="col">
            <div class="card shadow-sm">
              <img src={{c.previewUrl}} height="225" />

              <div class="card-body">
                <p class="card-text">{{c.source}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <!-- <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div> -->
                  <small class="text-muted">{{c.mediaType}}</small>
                  <small class="text-muted">Votes: {{c.votes}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="text-center container loadButtonContainer">
      <div class="col-lg-6 col-md-8 mx-auto">
        <button type="button" *ngIf="showAllContent===true && gettingMoreContent == false" (click)="loadMoreContent()"
          class="btn my-2 btn-secondary">

          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 18 18">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"></path>
            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"></path>
          </svg>
          Load More Content
        </button>
        <div class="d-flex justify-content-center" *ngIf="gettingMoreContent == true">
          <div class="spinner-border" role="status"></div>
        </div>
      </div>
    </section>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a
        href="../getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>

<router-outlet></router-outlet>